.TrackGridContainer {
  width: 100vw;
  height: 100vh;
}

.TrackGridContainer .carouselContainer {
  overflow: hidden;
  width: 50vw;
  height: 50vh;
}

.TrackGridContainer .carouselContainer .trackContainer {
  margin: 0 5px;
  position: relative;
  width: 250px;
  height: 250px;
}

.TrackGridContainer .carouselContainer .trackContainer .trackImage {
  position: absolute;
  width: 250px;
  height: 250px;
}

.TrackGridContainer .carouselContainer .trackContainer .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  background: rgba(0, 0, 0, 0);
  transition: background 0.25s ease;
}

.TrackGridContainer .carouselContainer .trackContainer:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, 0.3);
}

.TrackGridContainer .carouselContainer .trackContainer .playButton {
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 40%;
  left: 33%;
  width: 50px;
  height: 50px;
  background: url("../media/PlayButton.png") no-repeat scroll center center /
    50px 50px;
}

.TrackGridContainer .trackContainer:hover .playButton {
  opacity: 1;
}

.TrackGridContainer .player {
  background-color: peachpuff;
  width: 50vw;
  height: 20vh;
}

.TrackGridContainer .player .currentImageContainer .noAlbum {
  width: 100px;
  height: 100px;
  background: url("../media/NoAlbumArt.png") center center / 100px 100px;
}

.TrackGridContainer .player .currentImageContainer .currentImage {
  width: 100px;
  height: 100px;
}

.TrackGridContainer .player .songInfoContainer .songName {
  font-size: "30px";
  font-family: sans-serif;
}

.TrackGridContainer .player .songInfoContainer .artistName {
  font-size: "15px";
  font-family: sans-serif;
  padding-top: "10px";
  padding-bottom: "4em";
}

.TrackGridContainer .player .playButtonContainer {
  margin-left: 50px;
}

.slick-prev {
  left: 3% !important;
  z-index: 1;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
}
