.styleButton {
  color: black;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  background-color: white;
}

.container {
  padding-top: 70px;
  background-color: #f1faee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}

.container .mainContainer {
  max-width: 95%;
  width: 95%;
  background-color: #e0e1dd;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  transform: scale(0.9);
}

.container .mainContainer .emojiContainer {
  background-color: #1d3557;
  padding: 30px;
  height: 530px;
  margin-right: 30px;
  border-top-right-radius: 50px;
  width: 500px;
  min-width: 500px;
  min-height: 530px;
}

.container .mainContainer .emojiContainer .resetButton {
  margin-left: 86%;
  margin-top: 10px;
  width: 70px;
  height: 30px;
  background-color: white;
  font-weight: 600;
  color: black;
}

.container .mainContainer .emojiContainer .emojiBox {
  display: flex;
  flex-wrap: wrap;
  background-color: #f1faee;
  border-radius: 7px;
  padding: 5px;
}

.container .mainContainer .emojiContainer .emojiBox .emoji {
  font-size: 55px;
  margin: 7px;
  cursor: pointer;
}

.container .mainContainer .emojiContainer .emojiBox .emoji:hover {
  transform: scale(1.1);
}

.container .mainContainer .emojiContainer .errorText {
  margin-top: 6px;
  font-size: 15px;
  font-weight: 800;
  font-style: italic;
}

.container .mainContainer .emojiContainer .randomButton {
  margin-left: 83%;
  margin-top: 10px;
  width: 85px;
  height: 30px;
  background-color: white;
  cursor: pointer;
  font-weight: 600;
  color: black;
}

.container .mainContainer .emojiContainer .selectionBox {
  margin-top: 20px;
  display: flex;
  border-radius: 7px;
  flex-wrap: wrap;
  background-color: #f1faee;
  border: 1px solid white;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.container .mainContainer .emojiContainer .selectionBox .selectedEmoji {
  font-size: 40px;
  margin: 7px;
  cursor: pointer;
}

.container .mainContainer .emojiContainer .textDesc {
  font-size: 27px;
  line-height: 1.4;
  color: white;
  font-weight: 700;
  margin-bottom: 20px;
}

.text {
  display: block;
  color: #7f8a96;
  font-size: 0.938rem;
  line-height: 1.6;
  padding: 1rem 1.5rem;
  height: 10rem;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #e7eaee;
  resize: none;
}

.container .mainContainer .currentSongContainer {
  background-color: #e63946;
  padding: 30px;
  height: 530px;
  margin-right: 30px;
  border-top-right-radius: 50px;
  width: 300px;
  min-width: 300px;
  min-height: 530px;
}

.optionLoop {
  display: inline;
  width: 200px;
  font-size: 27px;
  line-height: 1.4;
  color: white;
  font-weight: 700;
}

.optionLoop p {
  display: inline;
  padding-right: 1.3px;
}

.optionLoop .x0 {
  margin-top: 0.47px;
}

.container .mainContainer .currentSongContainer .songTitle {
  font-size: 30px;
  line-height: 1.4;
  color: white;
  font-weight: 900;
  word-wrap: break-word;
}

.container .mainContainer .currentSongContainer .artistName {
  font-size: 21px;
  line-height: 1.4;
  display: flex;
  align-items: center;
  color: white;
  padding-bottom: 10px;
  font: 700;
}

.container .mainContainer .currentSongContainer .saveContainer {
  right: 0px;
}

.container .mainContainer .currentSongContainer .saveContainer .material-icons {
  box-sizing: border-box;
  color: white;
  font-size: 37px;
  padding-top: 7px;
  cursor: pointer;
}

.container .mainContainer .currentSongContainer .albumImageContainer {
  margin-bottom: 15px;
}

.container .mainContainer .currentSongContainer .albumImageContainer {
  width: 300px;
  height: 300px;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.container
  .mainContainer
  .currentSongContainer
  .albumImageContainer
  .albumImage {
  width: 100%;
  height: 100%;
}

.container .mainContainer .radarContainer {
  background-color: #00498c;
  padding: 30px;
  /* height: 60%; */
  margin-right: 30px;
  border-top-right-radius: 50px;
  min-width: 300px;
  min-height: 530px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.container .mainContainer .radarContainer .chartTitle {
  font-size: 30px;
  line-height: 1.4;
  color: white;
  font-weight: 900;
  width: 100%;
}

.container .mainContainer .radarContainer .navButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  box-sizing: border-box;
}

.container .mainContainer .radarContainer .navButtons .optionButton {
  color: black;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
  width: 300px;
  height: 50px;
  margin-bottom: 15px;
  background-color: white;
}
